.wrapper
  .content
    .left-content
      .left-content__user
        %ul.left-content__user__lists
          %li.left-content__user__lists__list
            = current_user.name
          %li.left-content__user__lists__list
            = link_to current_user.twitter, class: "left-content__user__lists__list__twitter-btn" do
              = icon('fab', 'twitter')
              = "twitter"
          %li.left-content__user__lists__list
            = link_to "mailto:" + current_user.email, class: "left-content__user__lists__list__mail-btn" do
              = icon('far', 'envelope')
              = "mail"
          %li.left-content__user__lists__list
            = link_to edit_user_path(current_user), class: "left-content__user__lists__list__edit-btn" do
              = icon('fas', 'cog', class: 'icon')
              = "設定"
        = image_tag current_user.image, class: 'left-content__user__image'
        .left-content__user__content
          = current_user.content
      .left-content__time
        .left-content__time__chart
          - if Routine.exists?
            = link_to "全て削除", destroy_all_routines_path, method: :delete, class: "left-content__time__chart__delete--btn"
          = pie_chart @routines, id: "left-content__time__chart__routines" ,height: "280px", width: "400px"
          = form_for @routine, html: {class: 'left-content__time__chart__form'} do |f|
            = f.text_field :content, class: 'left-content__time__chart__form__text', placeholder: '勉強や趣味などの内容を入力'
            - cnt = [["時間",""]]
            - for num in 1..24
              - cnt << num
            = f.select :turn, cnt, class: 'left-content__time__chart__form__cnt'
            = f.submit '追加', class: 'left-content__time__chart__form__submit'
        .left-content__time__calendar
          = month_calendar events: @posts do |date, posts|
            = date.day
            %ul.left-content__time__calendar__post--list
              - posts.each do |post|
                %li.left-content__time__calendar__post--list__content
                  = post.content
    .right-content
      .right-content__todo
        = form_for @todo, html: {class: 'right-content__todo__form'} do |f|
          = f.text_field :content, class: 'right-content__todo__form__text', placeholder: 'やらなければならないことToDoを入力'
          = f.submit '追加', class: 'right-content__todo__form__submit'
        .right-content__todo__title
          ＜ToDoリスト＞
        %ul.right-content__todo__todos
          = render @todos
      .right-content__book
        %section.right-content__book__section
          .right-content__book__section__menu
            ＜お気に入りの書籍＞
            -# = link_to new_favorite_path, class: "right-content__book__section__menu__new--btn" do
            -#   = icon('fas', 'pen-square', class: 'icon')
          %ul.right-content__book__section__book-list
            = render @favorites
          = form_for @favorite, html: {class: 'favorite__form'} do |f|
            .right-content__post__form__box
              - cnt = [["順位",""]]
              - for num in 1..36
                - cnt << num
              = f.select :rank, cnt, class: 'favorite__form__box__cnt'
              = f.text_field :name, class: 'favorite__form__box__text__name', placeholder: 'お気に入りの書籍名を入力'
              = f.label :image, class: 'favorite__form__box__image-input' do
                = icon('fas', 'image', class: 'favorite__form__box__image-input--iconon')
                = f.file_field :image, class: 'favorite__form__box__image-input--hidden'
            = f.text_field :url, class: 'favorite__form__box__text', placeholder: 'ここに購入リンクを入力'
            = f.submit '登録', class: 'favorite__form__submit'
      .right-content__post
        .right-content__post__title
          ＜毎日の積み上げ投稿＞
        %ul.right-content__post__posts
          = render @posts
        = form_for @post, html: {class: 'right-content__post__form'} do |f|
          .right-content__post__form__box
            = f.date_select :start_time, class: 'right-content__post__form__box__date'
            = f.text_field :content, class: 'right-content__post__form__box__text', placeholder: '今日の積み上げを入力'
            = f.label :image, class: 'right-content__post__form__box__image-input' do
              = icon('fas', 'image', class: 'right-content__post__form__box__image-input--iconon')
              = f.file_field :image, class: 'right-content__post__form__box__image-input--hidden'
          = f.submit '送信', class: 'right-content__post__form__submit'
  .footer
    .footer__small
      Copyright(C) Self Realization ALL RIGHTS RESERVED.
